body {
	background: rgb(215, 215, 215);
	background: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 500, from(rgb(240, 240, 240)), to(rgb(190, 190, 190)));
	background: -webkit-radial-gradient(rgb(240, 240, 240), rgb(190, 190, 190));
	background: -moz-radial-gradient(rgb(240, 240, 240), rgb(190, 190, 190));
	background: -ms-radial-gradient(rgb(240, 240, 240), rgb(190, 190, 190));
	background: -o-radial-gradient(rgb(240, 240, 240), rgb(190, 190, 190));
	background: radial-gradient(rgb(240, 240, 240), rgb(190, 190, 190));
	font-family: "Fjalla One", "Gentium Basic", "Junge", "Oxygen Mono", "Roboto", "PT Sans", "Helvetica";
}

.future, .past {
	opacity: 0.2;
}

.step > strong {
	display: block;
	margin-bottom: 30px;
	text-align: center;
	opacity: 0.3;
	font-size: 2em;
}

h1, h2, h3 {
	padding: 0;
	margin: 0;
	text-align: center;
	color: #222;
}

.step {
	width: 1000px;
	height: 620px;
	font-size: 4em;
}

ul,
ol {
	font-size: 0.6em;
	margin-left: 40px;
}

.slide {
	background: rgb(240, 240, 240);
	border-radius: 40px;
	padding: 40px;
}

.step.sub.future, .step.sub.past {
	display: none;
}

.step.sub.active {
	display:block;
}

pre {
	font-size: 27px;
	border-radius: 15px;
	padding: 1em;
	box-shadow: 5px 5px 5px #888;
	line-height: 1.1em;
}
